.DragAndDropApp {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 60vh;
}
.texts {
	background: grey;
	height: 100%;
	width: 45%;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.answer {
	background: grey;
	height: 100%;
	width: 45%;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.item {
	background: greenyellow;
	margin: 20px auto;
	flex-grow: 1;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}
