.DragAndSwap {
	height: 100%;
	position: relative;
	margin: 0px 100px 0px 100px;
}

.DragAndDropApp {
	position: absolute;
	top: 5%;
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.texts {
	background: white;
	height: 100%;
	width: 50%;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.answer {
	background: lightgray;
	height: 100%;
	width: 50%;
	margin: 10px;
	display: flex;
	flex-direction: column;
	border-style: solid;
}

.item1 {
	background: white;
	margin: 20px auto;
	flex-grow: 1;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: dotted;
	text-align: center;
}

.item2 {
	background: white;
	margin: 20px auto;
	flex-grow: 1;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: dotted;
	text-align: center;
}
