ul {
	list-style-type: square;
}

.button_div {
	margin-top: 20px;
	float: right;
}

.green-text {
	margin-top: 10px;
	margin-bottom: 30px;
}

.main-context-div {
	height: 100%;
	position: relative;
	margin: 0px 100px 0px 100px
}
