#root-container {
	min-width: 1200px;
	max-width: 2400px;
	min-height: 100vh;
	/* width: expression(document.body.clientWidth < 600? "600px": "auto"); */
}

.site-layout-content {
	background: #fff;
	padding: 24px;
	height: 900px;
	min-width: 1200px;
	/* 
	align-items: center;
	justify-content: center; */
}

.section-bar {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
}
