#root-container {
	/* min-width: 1600px; */
	height: 100vh;
}

.site-layout-content {
	background: #fff;
	padding: 24px;
	height: 700px;
	width: 1200px;
}

.section-bar {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
}

ul {
	list-style-type: square;
}

.button_div {
	margin-top: 20px;
	float: right;
}

.green-text {
	background-color: lightgreen;
	width: 100%;
	padding: 20px;
}

.main-context-div {
	height: 100%;
	position: relative;
	margin: 0px 100px 0px 100px;
}

.text_div {
	color: green;
}

.connect_picture {
	position: absolute;
	top: 10%;
	width: 100%;
}

.connect_sentence {
	position: absolute;
	top: 10%;
	width: 100%;
}

.tracking_theme {
	position: absolute;
	top: 10%;
	width: 100%;
}

/* style={{ paddingLeft: "10%", paddingRight: "10%", position: "absolute", top: "15%", width: "100%" }} */
.breaking_words {
	position: absolute;
	top: 10%;
	width: 100%;
}

.comprehending_sentences {
	position: absolute;
	top: 5%;
	width: 100%;
}

.identifying_definition {
	position: absolute;
	top: 0%;
	width: 100%;
}

.sure_or_unsure {
	position: absolute;
	top: 5%;
	width: 100%;
}

.understanding_responses {
	position: absolute;
	top: 0%;
	width: 100%;
}

.section {
	position: absolute;
	top: 2%;
	width: 100%;
}
