
#root-container {
  min-width: 1400px;
  max-width: 2400px;
	/* width: expression(document.body.clientWidth < 600? "600px": "auto"); */
}

.site-layout-content {
	background: #fff;
	padding: 24px;
	min-height: 80vh;
	/* 
	align-items: center;
	justify-content: center; */
}
